

{{>loggedIn}}



<h2 class="ui horizontal divider header">
  <i class="fas fa-users"></i>
  &nbsp wrkwith Community
</h2>

<section class="section is-medium gridBox">
  
{{#each users as |user|}}
  {{!-- <div class="ui link cards">
    
    <div class="card">
      <div class="image">
        {{#if avatar}}
        <img  src="/assets/avatars/{{avatar}}">
        {{else}} 
        <img  src="/assets/avatars/avatar1.jpg">
        {{/if}} 
     </div>

      <div class="content">
        <div class="header">{{user_name}}</div>
        <div class="meta">
          <p> {{first_name}} {{last_name}}</p> 
        </div>
        <div class="description">
          <P>{{bio}}</P>
        </div>
      </div> --}}

      {{!-- <div class="extra content">
        <span class="right floated">
        <a href="/api/user/{{id}}"><button class="ui inverted red button">View Profile</button></a>
        </span>
      </div>
      
    </div>
  </div> --}}


<div class="ui special cards">
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui dimmer" id="dimm-el">
        <div class="content">
          <div class="center">
            <a href="/api/user/{{id}}" class="ui inverted button">Add Friend</a>
          </div>
        </div>
      </div>
      <div class="image">
        {{#if avatar}}
        <img  src="/assets/avatars/{{avatar}}">
        {{else}} 
        <img  src="/assets/avatars/avatar1.jpg">
        {{/if}} 
     </div> 
      {{!-- <img src="/images/avatar/large/elliot.jpg"> --}}
    </div>
    <div class="content">
      <a class="header">{{user_name}}</a>
      <div class="meta">
        <span class="date">Joined On: {{format_date date_joined}}</span>
      </div>
    </div>
    <div class="extra content">
      <p>{{bio}}</p>
    </div>
  </div>
</div>








{{/each}}


</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      
<script src="../js/index.js"></script>
