

{{>loggedIn}}

<div class="ui link cards">
  {{#each users as |user|}}
  <div class="card">
    <div class="image">
      {{#if avatar}}
      <img  src="/assets/avatars/{{avatar}}">
      {{else}} 
      <img  src="/assets/avatars/avatar1.jpg">
      {{/if}} 
      
    </div>
    <div class="content">
      <div class="header">{{user_name}}</div>
      <div class="meta">
        <p> {{first_name}} {{last_name}}</p> 
      </div>
      <div class="description">
        <P>{{bio}}</P>
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
       <a href="/api/user/{{id}}"><button class="ui inverted red button">View Profile</button></a>
      </span>
     
    </div>
  </div>
  {{/each}}
</div>



