{{>loggedIn}}



<h2 class="ui horizontal divider header">
  <i class="fas fa-users"></i>
  &nbsp wrkwith Community
</h2>

<section class="section is-medium gridBox2">

  {{#each users as |user|}}

  <div class="ui special cards">

    <div class="card">
      <div class="blurring dimmable image">
        <div class="ui dimmer" id="dimm-el">
          <div class="content">
            <div class="center">

              <a href="/view-user/{{id}}" class="ui inverted button">View User</a>

            </div>
          </div>
        </div>
        <div class="image">
          {{#if avatar}}
          <img src="/assets/avatars/{{avatar}}">
          {{else}}
          <img id="avatar" src="/assets/profiles/joe.jpg">
          {{/if}}
        </div>
        {{!-- <img src="/images/avatar/large/elliot.jpg"> --}}
      </div>
      <div class="content">
        <a href="/view-user/{{id}}" class="header">{{user_name}}</a>
        <div class="meta">
          <span class="date">Joined On: {{format_date date_joined}}</span>
        </div>
      </div>
      <div class="extra content">
        <p>{{bio}}</p>
      </div>
    </div>
  </div>



  {{/each}}


</section>



<script src="/js/dimmer.js"></script>