{{>loggedIn}}

<section class="section is-small is-flex is-justify-content-center">
<div class="item">
  
<div class="profileContainer">
    <div class="image spacing">
      {{#if avatar}}
      <img src="/assets/avatars/{{user.avatar}}" class="ui rounded image">
      {{else}} 
      <img class="ui small rounded image" id="avatar" src="">
      {{/if}}
    </div>

    <div class="content spacing">
    <h3 class="ui huge header left aligned">{{title}}</h3>
    <h3 class="ui header">Username: {{user.user_name}}</h3>
    <p class="section_title">Created On: <span class="user_text">{{format_date date_created}}</span></p>
    </div> 
</div>

  <div class="item is-flex is-justify-content-center">
    <a href="/editproject/{{id}}" class="ui orange submit button is-fullwidth mt-2" id="edit">Edit Project</a>   
    <div class="ui is-dark submit button is-fullwidth mt-2" data-id="{{id}}" id="delete">Delete Project</div>
  </div> 
{{!-- <div class="ui orange submit button is-fullwidth mt-2" data-id="{{id}}" id="collaborate">WRK with</div>     --}}

</div>

   
</section>

  
<h2 class="ui horizontal divider header">
  <i class="fas fa-tasks"></i>
  &nbsp Project details
</h2>



<section class="section is-small  detailsSection">
<P>{{details}}</P>
<P> technology used: {{tech}}</P>
</section>



<h2 class="ui horizontal divider header">
  <i class="fas fa-handshake"></i>
  &nbsp Collaborators
</h2>

<section class="section is-small">

<div class="row gridBox">
  {{#each collabs as |collab|}}
  {{!-- <P> name:{{collab.user.user_name}}</P>
  <img src="/assets/avatars/{{collab.user.avatar}}" --}}
  
  <img class="ui avatar image" src="/assets/avatars/{{collab.user.avatar}}">
  <span>{{collab.user.user_name}}</span>
  {{/each}}
</div>
</section>

<script src="/js/myproject.js"></script>
<script src="/js/randomProfile.js"></script>