{{>loggedIn}}

<section class="section is-small is-flex is-justify-content-center">
<div class="item">

<div class="image">
  <img src="/assets/avatars/{{user.avatar}}" class="ui circular image">
</div>

<div class="content">
  

<h2 class="ui huge header left aligned">{{title}}</h2>
<h2 class="ui header"> {{user.user_name}}</h2>
<p class="section_title">created on: <span class="user_text">{{format_date date_created}}</span></p>
      
<div class="item">
  <a href="/editproject/{{id}}" class="ui is-dark submit button mt-2" id="edit">Edit Project</a>   
  <div class="ui is-dark submit button mt-2" data-id="{{id}}" id="delete">Delete Project</div>
</div> 
{{!-- <div class="ui orange submit button is-fullwidth mt-2" data-id="{{id}}" id="collaborate">WRK with</div>     --}}


</div>    
</section>

  
<h2 class="ui horizontal divider header">
  <i class="fas fa-tasks"></i>
  &nbsp Project details
</h2>



<section class="section is-small is-flex is-justify-content-center">
<P>{{details}}</P>
<P> technology used: {{tech}}</P>
</section>



<h2 class="ui horizontal divider header">
  <i class="fas fa-handshake"></i>
  &nbsp Collaborators
</h2>

<section class="section is-small">

<div class="row gridBox">
  {{#each collabs as |collab|}}
  {{!-- <P> name:{{collab.user.user_name}}</P>
  <img src="/assets/avatars/{{collab.user.avatar}}" --}}
  
  <img class="ui avatar image" src="/assets/avatars/{{collab.user.avatar}}">
  <span>{{collab.user.user_name}}</span>
  {{/each}}
</div>
</section>

<script src="/js/myproject.js"></script>