{{>loggedIn}}
<section class="section is-medium">

<div class="ui link cards">
  
  {{#each projects }}
<a href="/project/{{id}}">
<div class="card">
    <div class="content">
      <img class="right floated mini ui image" src="/assets/avatars/{{user.avatar}}">
      <div class="header">
       <B>{{title}}</B> 
      </div>
      <div class="meta">
       created by {{user.user_name}} on {{format_date date_created}}
      </div>
      <div class="description">
        <P>{{details}} </P>
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <div class="ui basic green button">VIEW PROJECT</div>
        {{!-- <div class="ui basic red button">Decline</div> --}}
      </div>
    </div>
  </div>


  

  {{!-- <div class="card">
    <div class="content">
      <div class="header">{{title}}</div>
      <div class="meta">
        <p> {{details}}</p> 
      </div>
      <div class="description">
        need to add this to the database !! 
      </div>
    </div>
 
  </div> --}}
    </a>
  {{/each}}
</div>

</section>