{{>loggedIn}}


<table class="table">
<table is-bordered "table" </table>  
  <thead>
    <tr>
      <th>id</th>
      <th>title</th>
      <th>details</th>
      <th>tech</th>
      <th>date_created</th>
      <th>creator</th>
    </tr>
    
  </thead>
  <tbody>
    {{#each projects as |project|}}
    <tr>
      <th>{{id}}</th>
      <td>{{title}}</td>
      <td>{{details}}</td>
      <td>{{tech}}</td>
      <td>{{date_created}}</td>
      <td>{{creator}}</td>
    </tr>
 {{/each}}
  </tbody>
</table>

