{{>loggedIn}}

<section class="section is-small is-flex is-justify-content-center">
 <div class="ui divided items">
  <div class="item">
    <div class="image">
      <img class="ui medium circular image" src="/assets/male_avatar.svg">
    </div>
    <div class="content">
      <a class="header">{{user.user_name}}</a> 
      <div class="meta">
        <span class="">Joined On: {{format_date user.date_joined}}</span>
      </div>
      <div class="description">
        <p> <b>Email:</b> {{email}}</p>
        <p> <b>Bio:</b></p> {{bio}}</p>
      </div>
    </div>
  </div>
</div>
</section>

<h2 class="ui horizontal divider header">
  <i class="fas fa-tasks"></i>
  &nbsp My Projects
</h2>



<section class="section is-small is-flex is-justify-content-center is-align-content-center">

 <a href="/newproject" class="button is-light">
     Add A New Project   &nbsp &nbsp
     <i class="fas fa-plus-square"></i>
</a>
</section>

<section class="section is-small gridBox">
{{!-- cards section --}}
     {{!-- {{#each projects as |project|}} --}}
{{#each projects as | project |}}

<a class="ui raised link card" href="/myproject/{{id}}">
  <div class="content">
    <div class="header">{{title}}</div>
    <div class="meta">
      <span class="right floated time">Created On: {{format_date date_created}} </span>
      <span class="category">{{user.user_name}}</span>
    </div>
    <div class="description">
      <p></p>
    </div>
  </div>
  <div class="extra content">
    <div class="center aligned author">
      <img class="ui avatar image" src="/assets/undraw_Projections_re_1mrh.svg"> View Project
    </div>
  </div>
</a>

{{/each}}


{{!-- {{/each}} --}}
</section>


<h2 class="ui horizontal divider header">
  <i class="fas fa-handshake"></i>
  &nbsp My Collaborations
</h2>


<section class="section is-small is-flex is-justify-content-center is-align-content-center">
{{!-- button section  --}}
     <button class="button is-light">
     Contribute To A Project  &nbsp &nbsp
     <i class="fas fa-plus-square"></i>
</section>

<section class="section is-small gridBox">
{{!-- cards section --}}

{{#each collabs as | collab |}}
<a class="ui raised link card" href="/project/{{project.id}}">
  <div class="content">
    <div class="header">{{project.title}}</div>
    <div class="meta">
      <span class="right floated time">Created On: {{format_date project.date_created}} </span>
      <span class="category">{{project.user.user_name}}</span>
    </div>
    <div class="description">
      <p></p>
    </div>
  </div>
  <div class="extra content">
    <div class="center aligned author">
      <img class="ui avatar image" src="/assets/undraw_Projections_re_1mrh.svg"> View Project
    </div>
  </div>
</a>



{{/each}}
     
 
</section>
